#mainNav {
    padding: 0.5rem 2rem;
}

#navbarNavAltMarkup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logout {
    display: flex;
    flex-direction: row;

    span {
        margin-right: 2rem;
    }
}