.view_container {
    margin-top: 9rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;



}